@import '~@angular/material/theming';

@include mat-core();

$theme: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-orange));

@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace');
